{{ define "main" }}
<h2>My Blog Posts</h2>
<p>
  Welcome to my collection of blog posts. Here you'll find things I’ve written
  about over time. If you're more interested in media-focused entries, please
  <a href="/movies">check out the movie list</a>. or my
  <a href="/books">reading list</a>
</p>

{{ $now := now }} {{ $thisYear := $now.Year }} {{ $posts := .Pages }} {{
$postsThisYear := where $posts ".Date.Year" $thisYear }} {{ $postsAllTime := len
$posts }} {{ $postsThisYearCount := len $postsThisYear }}

<div class="media-stats">
  <p>
    <span class="stat-label">📝 Total Posts:</span>
    <span class="stat-number">{{ $postsAllTime }}</span>
  </p>
  <p>
    <span class="stat-label">📆 Posts in {{ $thisYear }}:</span>
    <span class="stat-number">{{ $postsThisYearCount }}</span>
  </p>
</div>

<ul>
  {{ range $posts }}
  <li>
    {{ (.PublishDate | time).Format "2006-01-02" }} –
    <a class="blog-entry" href="{{ .RelPermalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}
